@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 74, 74, 74;
  --background-start-rgb: 255, 253, 240;
  /* Creamy warm */
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FFFDF5;
  /* Solid warm cream background */
  font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  -webkit-font-smoothing: antialiased;
}